<h1>Welcome to PizzaShop</h1>
<div class="container">
    <div class="row align-items-center">
    <% @products.each do |product| %>
        <div class="col">
            <h2><%= product.title%></h2>
            <img class="product_thumb_image" src="<%= product.path_to_image%>" alt="">
            <p><%= product.description%></p>
            <p>Size: <%= product.size%></p>
            <p>Price: <%= product.price%></p>
            <button class="btn btn-sm btn-success" onclick="addToCart(<%= product.id%>)">Add to cart</button>
        </div>
    <% end %>
    </div>
</div>
